* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.mainPanelContainer {
  display: flex;
  gap: 10px;
}

.panel {
  width: 150px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
}
