:root {
  --panel-width: 120px;
  --panel-height: 500px;
  --panel-move: 650px;
}

* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.mainPanelContainer {
  display: flex;
  gap: 10px;
}

.panel {
  width: var(--panel-width);
  height: var(--panel-height);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  transition: transform 1000ms ease-in-out;
}

.circle {
  width: 60px;
  height: 60px;
  background: linear-gradient(var(--color1), var(--color2));
  border-radius: 50%;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textContent h3 {
  font-weight: 400;
}

.movePanel {
  transform: translateY(var(--panel-move));
}
